{% extends "manager/base.html" %} {% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello!</h1>
    <p>This is a simple application that manages items and categories in order to keep information organized for the user. It is part of Fullstack Nanodegree project from Udacity. ;-)</p>
    <p><a class="btn btn-primary btn-lg" href="https://www.udacity.com/" role="button">Learn more about Udacity &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Categories</h2> {% for category in categories %}
      <div style="margin-bottom: 5px;">
        <a class="btn btn-secondary" href="{% url 'manager:items_category' view='all' category=category.ID %}">
          <li class="{{ category.Icon }}"></li>
          {{ category.Name }}
        </a>
      </div>
      {% endfor %}

      <p><a class="btn btn-primary" href="{% url 'manager:categories' %}" role="button">View more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Latest added items</h2>
      <ul class="list-unstyled">
        {% for item in added %}
        <li>
          <a href="{% url 'manager:items_item' view='all' category=item.Category.ID item=item.ID %}">
            {{ item.Title }}
          </a>
          <span class="badge badge-secondary">{{ item.Category.Name }}</span>
        </li>
        {% endfor %}
      </ul>
      <p><a class="btn btn-primary" href="{% url 'manager:items' view='added' %}" role="button">View more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Latest changed items</h2>
      <ul class="list-unstyled">
        {% for item in changed %}
        <li>
          <a href="{% url 'manager:items_item' view='all' category=item.Category.ID item=item.ID %}">
            {{ item.Title }}
          </a>
          <span class="badge badge-secondary">{{ item.Category.Name }}</span>
        </li>
        {% endfor %}
      </ul>
      <p><a class="btn btn-primary" href="{% url 'manager:items' view='changed' %}" role="button">View more &raquo;</a></p>
    </div>
  </div>

  <hr>

</div>
<!-- /container -->

{% endblock %}
